.login-logo{
   width: 100%;
   height: 100px;
   margin-bottom: 20px;
   border:4px solid #ababab;
   background-color: #337ab7;
   color: #ffffff; 
   border-radius: 10px;
}

#menu{
    list-style: none;
    margin-top: 50px;
}

    #menu li{
        text-align: center;
        padding: 5px;    
    }

        #menu li a{
            width: 150px;
        }

        #menu li:first-child{
            border-bottom: none;
        }

        #menu li:last-child{
            border-top: none;
        }

#chart-container{
    margin:10px;
    height: 210px;
    width: 360px;
    border: 1px solid #ababab;
    border-radius: 5px;
    vertical-align: middle;
}

.dashboard-info{
    border: 1px solid black;
}

.table-container{
    padding: 10px;
}

    .table-container th{
        text-align: center;
    }

    .table-container tr{
        text-align: center;
    }

    .table-container tfoot tr, th{
        background-color: #efefef;
        font-weight: bold;
    }

.panel-title a{
    text-decoration: none;
}

.panel-title a:hover{
    text-decoration: none;
}

.error-container{
    margin-top:20px;
}